openapi: 3.1.0

# =============================================================================
# Cards API — публичный контракт для выпуска и обслуживания виртуальных карт.
# =============================================================================

info:
  title: CaaS Cards API
  version: 1.0.0
  summary: API выпуска и обслуживания виртуальных карт
  contact:
    name: CaaS Integration Support

servers:
  - url: https://api.2328.io/caas/v1

security:
  - apiKey: []

tags:
  - name: System
    description: Служебные эндпоинты (liveness-проба доступности API)
  - name: Account
    description: Данные аккаунта и доступные возможности, баланс кошелька, пополнение
  - name: Tariffs
    description: Тарифные планы, расчёт стоимости (quote) и назначение плана карте
  - name: Cardholders
    description: Держатели карт. Персональные данные передаются один раз при создании и в ответах не возвращаются
  - name: Cards
    description: Выпуск и обслуживание карт. Денежные операции асинхронны — ответ 202 Accepted с orderId, итог в GET /orders/{orderId}
  - name: Products
    description: Каталог доступных типов карт
  - name: Orders
    description: Проверка исхода асинхронных денежных операций по orderId
  - name: Webhooks
    description: Настройка исходящих вебхуков и журнал их доставок

paths:

  # ===========================================================================
  # System
  # ===========================================================================

  /ping:
    get:
      operationId: ping
      tags: [System]
      summary: Проверка доступности API (liveness)
      description: >-
        Публичный liveness-эндпоинт: не требует аутентификации и не обращается к
        внешним сервисам. Возвращает 200, пока API принимает запросы. Предназначен
        для health-проб/мониторинга, а не для проверки валидности API-ключа.
        Эндпоинт подпадает под общий per-IP rate-limit публичной поверхности —
        при частом опросе возможен 429.
      security: []
      responses:
        '200':
          description: API доступен
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [status, api]
                        properties:
                          status: { type: string, example: ok }
                          api: { type: string, example: v1 }
              example:
                success: true
                status: 200
                message: OK
                data:
                  status: ok
                  api: v1
                meta:
                  requestId: 2c314c82-2994-4cae-9fd4-312635650fa7
                  timestamp: '2026-07-10T01:41:41Z'
        '429': { $ref: '#/components/responses/RateLimited' }

  # ===========================================================================
  # Account
  # ===========================================================================

  /account/info:
    get:
      operationId: getAccountInfo
      tags: [Account]
      summary: Параметры и лимиты аккаунта
      description: >-
        Возвращает действующие параметры аккаунта: минимальные и максимальные
        суммы операций, поддерживаемые валюты и схемы карт, квоты, rate-limits и
        доступные функции (secure-reveal, ретрансляция 3DS/OTP, режим KYC).
        Эти значения зависят от аккаунта и могут меняться — читайте их из этого
        ответа, не задавайте константами в коде клиента. Ответ можно кэшировать
        на срок не более 5 минут.


        Единственный эндпоинт, доступный при `status=suspended`: приостановленный
        аккаунт получает 200 с `data.status=suspended` (на остальных эндпоинтах —
        401 auth.unauthorized). Это позволяет клиенту отличить приостановку
        аккаунта от отзыва ключа.
      x-required-scope: account:read
      responses:
        '200':
          description: Capabilities аккаунта
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AccountInfo'
              example:
                success: true
                status: 200
                message: OK
                data:
                  accountId: 9c6f1a2e-4b1d-4c3a-8e6f-2d1c3b4a5f60
                  environment: live
                  status: active
                  capabilities:
                    cardCurrencies: [USD]
                    walletCurrencies: [USDT]
                    walletNetworks: { USDT: [TRON, BSC, ETHEREUM, POLYGON, AVALANCHE, TON] }
                    cardSchemes: [visa, mastercard]
                    limits:
                      minIssueAmountMinor: 500
                      minFundMinor: 500
                      minUnloadMinor: 500
                      maxOperationMinor: 100000000
                      maxFundMinor: 250000
                      maxCardsPerCardholder: 5
                      maxCardsPerAccount: 1000
                      dailyFundingVolumeMinor: 500000000
                      rateLimits: { readPerMin: 1200, writePerMin: 20, securePerMin: 10 }
                    features:
                      secureReveal: false
                      secureApiRaw: false
                      threeDsOtpRelay: webhook
                      tokenization: false
                      kycRequired: false
                      suspendedClearedByFund: true
                      closeCooldownHours: 24
                      physicalCards: false
                    restrictions: { blockedMcc: [], blockedCountries: [] }
                  webhooksConfigured: true
                  createdAt: '2026-06-01T00:00:00Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCD, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /account/wallet:
    get:
      operationId: getAccountWallet
      tags: [Account]
      summary: Баланс кошелька аккаунта
      description: >-
        Баланс кошелька аккаунта в USDT (целые minor-единицы, поля currency и
        scale). Поле onCardsMinor — суммарный остаток на картах, выражен в валюте
        КАРТ (onCardsCurrency / onCardsScale) с иным scale, чем у кошелька;
        не складывайте его с полями кошелька без приведения к единому scale.
      x-required-scope: account:read
      responses:
        '200':
          description: Баланс кошелька
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            description: Баланс аккаунта по каждой программе (по одному элементу на программу)
                            items:
                              allOf:
                                - type: object
                                  required: [providerCode]
                                  properties:
                                    providerCode:
                                      type: string
                                      pattern: '^core-([0-9]+|unknown)$'
                                      description: >-
                                        Код программы в формате core-{id}. Значение `core-unknown` —
                                        программа временно не сопоставлена с публичным id (ошибка
                                        конфигурации на нашей стороне); трактуйте как незнакомое
                                        значение и предусмотрите ветку по умолчанию.
                                - $ref: '#/components/schemas/WalletBalance'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - providerCode: core-1
                      currency: USDT
                      scale: 6
                      availableMinor: 15432000000
                      reservedMinor: 520000000
                      totalMinor: 15952000000
                      onCardsMinor: 80000
                      onCardsCurrency: USD
                      onCardsScale: 2
                      availableUsd: '15432.00'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCE, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /account/pricing:
    get:
      operationId: getAccountPricing
      tags: [Account, Tariffs]
      summary: Действующий прайс аккаунта (тарифная сетка по умолчанию)
      description: >-
        Тарифная сетка аккаунта по умолчанию (без привязки к конкретной карте).
        Для тарифа конкретной карты используйте GET /cards/{cardId}/tariff, для
        точного расчёта стоимости операции — GET /tariffs/quote. В сетке
        показаны только реально взимаемые статьи. Версия тарифного плана здесь
        не возвращается: пара (planCode, planVersion) фиксируется в ответе quote
        и в ордере.
      x-required-scope: account:read
      parameters:
        - name: productCode
          in: query
          required: false
          description: Тарифная сетка для конкретного типа карты (тарифы могут отличаться по продуктам)
          schema: { type: string }
        - name: currency
          in: query
          required: false
          description: Валюта тарифной сетки (3-буквенный код, по умолчанию USD; неизвестное значение игнорируется — применяется USD)
          schema: { type: string, default: USD, pattern: '^[A-Za-z]{3}$' }
      responses:
        '200':
          description: Тарифная сетка
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PricingSchedule'
              example:
                success: true
                status: 200
                message: OK
                data:
                  planCode: default
                  currency: USD
                  scale: 2
                  fees:
                    - { feeItem: issuance, collection: upfront, chargedFrom: wallet, flatMinor: 500, bps: 0, minMinor: 0, period: none }
                    - { feeItem: funding, collection: upfront, chargedFrom: wallet, flatMinor: 0, bps: 250, minMinor: 0, period: none }
                    - { feeItem: unload, collection: upfront, chargedFrom: wallet, flatMinor: 0, bps: 100, minMinor: 0, period: none }
                    - { feeItem: transaction, collection: usage, chargedFrom: card, flatMinor: 20, bps: 0, minMinor: 0, period: none }
                    - { feeItem: fx, collection: usage, chargedFrom: card, flatMinor: 0, bps: 300, minMinor: 50, period: none }
                    - { feeItem: maintenance, collection: usage, chargedFrom: card, flatMinor: 200, bps: 0, minMinor: 0, period: monthly }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCF, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/PricingPlanMissing' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /account/transactions:
    get:
      operationId: listAccountTransactions
      tags: [Account]
      summary: История движений по кошельку аккаунта
      description: Денежная история кошелька аккаунта (USDT, scale 6). Это первичный источник денежных данных, в отличие от транзакций по картам.
      x-required-scope: transactions:read
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: type
          in: query
          required: false
          description: >-
            Фильтр по типу движения. Значение `adjustment` встречается в поле `type` ответа,
            но фильтровать по нему нельзя — запрос вернёт 422.
          schema:
            type: string
            enum: [deposit, card_funding, card_fee, card_unload, refund, program_return]
        - name: from
          in: query
          required: false
          description: Нижняя граница occurredAt (RFC 3339)
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: Верхняя граница occurredAt (RFC 3339)
          schema: { type: string, format: date-time }
        - name: provider
          in: query
          required: false
          description: 'Фильтр по ПРОГРАММЕ (код программы core-{id}). Опущен — все программы аккаунта. Неизвестный → 422.'
          schema: { type: string, example: core-1 }
      responses:
        '200':
          description: Страница движений (от новых к старым)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items, pagination]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/WalletTransaction'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - id: wtx_3f9a1c7e2b4d5a6f7c8e9d0a
                      type: card_funding
                      direction: out
                      amountMinor: 10500000
                      currency: USDT
                      scale: 6
                      balanceAfterMinor: 15421500000
                      orderId: 0b1e7c9a-0000-4000-8000-000000000002
                      cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                      occurredAt: '2026-07-01T12:00:04Z'
                    - id: wtx_9d0a8c7e6b5a4f3e2d1c0b9a
                      type: deposit
                      direction: in
                      amountMinor: 100000000
                      currency: USDT
                      scale: 6
                      balanceAfterMinor: 15432000000
                      orderId: null
                      cardId: null
                      occurredAt: '2026-07-01T09:10:11Z'
                  pagination: { limit: 20, nextCursor: null, hasMore: false }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCG, timestamp: '2026-07-01T12:34:56Z' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /account/deposit-address:
    post:
      operationId: createDepositAddress
      tags: [Account]
      summary: Адрес пополнения кошелька (недоступно через API)
      description: >-
        Пополнение баланса аккаунта через API-адрес не предусмотрено: баланс
        пополняется из личного кабинета, а не по on-chain адресу через API.
        Endpoint присутствует в контракте для совместимости, но всегда отвечает
        422 not_supported: тело запроса не требуется, адрес не выдаётся.
      deprecated: true
      x-required-scope: account:write
      responses:
        '422': { $ref: '#/components/responses/NotSupported' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ===========================================================================
  # Tariffs
  # ===========================================================================

  /tariffs/plans:
    get:
      operationId: listTariffPlans
      tags: [Tariffs]
      summary: Каталог публичных тарифных планов
      description: >-
        Возвращает только публичные тарифные планы. Приватные планы назначаются
        платформой и в каталоге не отображаются; через API приватный план
        неотличим от несуществующего. Каталог не содержит ставок — сами ставки
        читаются из резолвнутой тарифной сетки (`/account/pricing`,
        `/cards/{cardId}/tariff`) либо через предрасчёт `/tariffs/quote`.
      x-required-scope: tariffs:read
      parameters:
        - name: currency
          in: query
          required: false
          description: Валюта карт (default USD)
          schema: { type: string, default: USD }
      responses:
        '200':
          description: Список планов
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/TariffPlan'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - { code: default, name: Standard, version: 3, isDefault: true }
                    - { code: volume, name: Volume, version: 1, isDefault: false }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCJ, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /tariffs/quote:
    get:
      operationId: getTariffQuote
      tags: [Tariffs]
      summary: Точный препросчёт комиссии до операции
      description: >-
        Предрасчёт комиссии тем же движком, которым она будет фактически списана:
        в пределах актуальной версии плана расчёт совпадает со списанием. Quote
        не резервирует цену — если между расчётом и операцией сменится версия
        плана, комиссия спишется по актуальной версии (окно смены — секунды).
        Без контекстных параметров расчёт выполняется по плану аккаунта по
        умолчанию. Суммы указываются в целых minor-единицах валюты карт (USD,
        scale 2).
      x-required-scope: tariffs:read
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum: [issue, fund, unload]
        - name: amountMinor
          in: query
          required: true
          description: Сумма операции в minor-единицах, > 0 и ≤ limits.maxOperationMinor; валюта карт USD, scale 2
          schema: { type: integer, format: int64, minimum: 1 }
        - name: cardId
          in: query
          required: false
          description: Применить per-card тариф; тип карты учитывается автоматически. Чужой или несуществующий cardId → 404
          schema: { type: string, maxLength: 64 }
        - name: cardholderId
          in: query
          required: false
          description: Применить тариф держателя (для operation=issue, когда карта ещё не выпущена). Чужой или несуществующий cardholderId → 404
          schema: { type: string, maxLength: 64 }
        - name: productCode
          in: query
          required: false
          description: Применить тариф типа карты (для operation=issue без привязки к держателю)
          schema: { type: string }
      responses:
        '200':
          description: Расчёт комиссии
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TariffQuote'
              example:
                success: true
                status: 200
                message: OK
                data:
                  operation: fund
                  currency: USD
                  scale: 2
                  amountMinor: 10000
                  feeMinor: 250
                  totalChargeMinor: 10250
                  planCode: default
                  planVersion: 3
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCK, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/tariff:
    get:
      operationId: getCardTariff
      tags: [Tariffs, Cards]
      summary: Действующая тарифная сетка карты
      description: >-
        Возвращает действующую тарифную сетку карты. Схема ответа совпадает с
        `/account/pricing`, но резолв выполняется с учётом привязок на уровне
        карты и держателя. Если тарифный план не резолвится, ответ — `503
        service.unavailable` (в отличие от `/account/pricing` и `/tariffs/quote`,
        где та же причина даёт `422 pricing.plan_missing`).
      x-required-scope: tariffs:read
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Резолвнутая сетка карты
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PricingSchedule'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  # ===========================================================================
  # Cardholders
  # ===========================================================================

  /cardholders:
    post:
      operationId: createCardholder
      tags: [Cardholders]
      summary: Создать или вернуть держателя (идемпотентно по externalRef)
      description: >-
        Создаёт держателя карт. Все PII-поля обязательны и валидируются до
        создания. Операция идемпотентна: помимо
        заголовка Idempotency-Key повтор с тем же `externalRef` возвращает уже
        существующего держателя с кодом 200. PII сохраняется как снимок и в ответах
        не возвращается (наружу доступны только displayName и email как канал
        доставки OTP).
      x-required-scope: cardholders:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderCreateRequest'
            example:
              externalRef: user-42
              providerCode: core-1
              firstName: John
              lastName: Doe
              email: john@example.com
              phone: '+15551234567'
              dateOfBirth: '1990-01-31'
              country: US
              address: 1 Main St
              city: New York
              state: NY
              zipCode: '10001'
      responses:
        '201':
          description: Держатель создан
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Cardholder'
              example:
                success: true
                status: 201
                message: Created
                data:
                  cardholderId: 3c1d2e3f-0000-4000-8000-000000000010
                  externalRef: user-42
                  providerCode: core-1
                  status: active
                  kycStatus: waived
                  displayName: John Doe
                  email: john@example.com
                  createdAt: '2026-07-01T12:00:00Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCN, timestamp: '2026-07-01T12:00:00Z' }
        '200':
          description: Держатель уже существовал по externalRef — возвращён без изменений
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Cardholder'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
    get:
      operationId: listCardholders
      tags: [Cardholders]
      summary: Список держателей
      description: >-
        Возвращает страницу держателей из локальной копии данных. Копия
        обновляется событиями и eventually-consistent, поэтому свежие изменения
        могут появиться с небольшой задержкой.
      x-required-scope: cardholders:read
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CardholderStatus'
        - name: externalRef
          in: query
          required: false
          description: Точный поиск по вашему externalRef
          schema: { type: string, maxLength: 128 }
        - name: provider
          in: query
          required: false
          description: 'Фильтр по ПРОГРАММЕ (код программы core-{id}). Держатель привязан к программе, под которой создан. Опущен — все программы. Неизвестный → 422.'
          schema: { type: string, example: core-1 }
      responses:
        '200':
          description: Страница держателей
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items, pagination]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Cardholder'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /cardholders/{cardholderId}:
    get:
      operationId: getCardholder
      tags: [Cardholders]
      summary: Один держатель
      x-required-scope: cardholders:read
      parameters:
        - $ref: '#/components/parameters/CardholderId'
      responses:
        '200':
          description: Держатель
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Cardholder'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
    patch:
      operationId: updateCardholder
      tags: [Cardholders]
      summary: Обновление держателя — НЕ РЕАЛИЗОВАНО (всегда 422 not_supported)
      description: >-
        **Метод не реализован.** Endpoint объявлен в контракте, но на ЛЮБОЙ запрос
        (включая корректное тело и существующего держателя) возвращает
        `422 not_supported`. Обновление держателя не поддерживается карточной
        платформой, а KYC-данные неизменяемы после регистрации. Никакие другие
        ответы, кроме перечисленных ниже, эндпоинт не отдаёт: 404 на
        несуществующего держателя НЕ возвращается — тело и путь даже не
        разбираются.


        Изменить данные держателя можно только созданием нового держателя с другим
        `externalRef`.


        Планируемое (пока НЕ реализованное) поведение — обновление только полей
        `email` (канал доставки OTP) и `displayName`; изменение прочих PII будет
        возвращать `422 not_supported`.
      x-required-scope: cardholders:write
      parameters:
        - $ref: '#/components/parameters/CardholderId'
      requestBody:
        required: false
        description: Тело зарезервировано для будущего релиза; в текущем игнорируется (не читается и не валидируется).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardholderUpdateRequest'
            example: { email: new@example.com, displayName: J. Doe }
      responses:
        # Метод не реализован (StubController@notImplemented): единственный доменный исход — 422 not_supported.
        # Прочие коды — от middleware (auth/scope/rate-limit) или инфраструктуры.
        '422': { $ref: '#/components/responses/NotSupported' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
    delete:
      operationId: deactivateCardholder
      tags: [Cardholders]
      summary: Деактивация держателя (soft-disable)
      description: >-
        Деактивирует держателя (soft-disable). Возможна только при отсутствии
        активных карт — карта считается активной, если её статус не входит в
        closed/expired/failed; иначе возвращается `409 cardholder.has_active_cards`.
        Выпуск карт на держателя в статусе inactive возвращает
        `422 cardholder.not_eligible`. Запись держателя при этом
        не удаляется.
      x-required-scope: cardholders:write
      parameters:
        - $ref: '#/components/parameters/CardholderId'
      responses:
        '200':
          description: Деактивирован
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [cardholderId, status]
                        properties:
                          cardholderId: { type: string }
                          status:
                            type: string
                            const: inactive
              example:
                success: true
                status: 200
                message: OK
                data: { cardholderId: 3c1d2e3f-0000-4000-8000-000000000010, status: inactive }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCP, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /cardholders/{cardholderId}/kyc:
    post:
      operationId: submitCardholderKyc
      tags: [Cardholders]
      summary: Подача KYC — НЕ РЕАЛИЗОВАНО (всегда 422 kyc.not_supported)
      description: >-
        **Метод не реализован.** В v1 при `features.kycRequired=false` KYC не
        требуется (kycStatus=waived), поэтому endpoint на ЛЮБОЙ запрос возвращает
        `422 kyc.not_supported`. Тело запроса не читается; 404 на несуществующего
        держателя НЕ возвращается — путь даже не резолвится в held-запись.


        Изменения kycStatus доставляются событиями `cardholder.kyc_approved` и
        `cardholder.kyc_rejected` и отражаются в ответе
        `GET /cardholders/{cardholderId}`.
      x-required-scope: cardholders:write
      parameters:
        - $ref: '#/components/parameters/CardholderId'
      responses:
        '422':
          description: 'Не поддерживается: error.code = kyc.not_supported'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
              example:
                success: false
                status: 422
                message: KYC submission is not supported in v1
                error: { code: kyc.not_supported }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCQ, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ===========================================================================
  # Cards
  # ===========================================================================

  /cards:
    post:
      operationId: issueCard
      tags: [Cards]
      summary: Выпуск карты — асинхронно, 202 Accepted
      description: >-
        Списывает с кошелька суммарный платёж
        `totalChargeMinor = initialAmountMinor + fee(issuance)` по действующему
        тарифу (комиссия funding при выпуске не взимается). Заранее рассчитать
        сумму можно через `GET /tariffs/quote?operation=issue`; итог совпадёт со
        списанием. Комиссию клиент не передаёт — при наличии лишних полей в теле
        запрос отклоняется с `422 request.validation_failed`.


        Операция асинхронна: в ответ приходит `202 Accepted` с `orderId`. Ответ
        `202` означает лишь приём в обработку, но не исполнение. Итог отслеживайте
        по вебхукам `card.created` / `card.failed` или через
        `GET /orders/{orderId}` (терминальный статус `failed`|`refunded`
        сопровождается полем `failureCode`).
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardIssueRequest'
            example:
              cardholderId: 3c1d2e3f-0000-4000-8000-000000000010
              providerCode: core-1
              productCode: vusa
              initialAmountMinor: 5000
              currency: USD
              nameOnCard: JOHN DOE
              externalReference: issue-u42-001
      responses:
        '202':
          description: Запрос принят в обработку
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OrderAccepted'
              example:
                success: true
                status: 202
                message: Accepted
                data: { orderId: 0b1e7c9a-0000-4000-8000-000000000002, type: issue, status: processing }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCR, timestamp: '2026-07-01T12:00:00Z' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
    get:
      operationId: listCards
      tags: [Cards]
      summary: Список карт
      description: >-
        Возвращает карты аккаунта. Данные обновляются с небольшой задержкой
        (eventually consistent). Поле `balance` заполняется по мере возможности
        (кэш ~20 с; `null` для терминальных карт и при ошибке загрузки) — см.
        описание поля в схеме Card. Обратите внимание: в `GET /cards/{cardId}`
        это поле, наоборот, всегда `null`.
      x-required-scope: cards:read
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CardStatus'
        - name: cardholderId
          in: query
          required: false
          schema: { type: string, maxLength: 64 }
        - name: provider
          in: query
          required: false
          description: 'Фильтр по ПРОГРАММЕ (код программы core-{id}). Карты создаются под конкретную программу. Опущен — все программы. Неизвестный → 422.'
          schema: { type: string, example: core-1 }
      responses:
        '200':
          description: Страница списка карт
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items, pagination]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Card'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /cards/products:
    get:
      operationId: listCardProducts
      tags: [Products]
      summary: Каталог типов карт
      description: >-
        Возвращает продукты, доступные для выпуска карт. Цены в каталоге не
        приводятся — тариф может зависеть от продукта; получить его можно через
        `GET /account/pricing?productCode=…` и `GET /tariffs/quote` с параметром
        `productCode`.
      x-required-scope: cards:read
      responses:
        '200':
          description: >-
            Список ограничен сервером и не разбит на страницы курсором —
            объект `pagination` не возвращается.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Product'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - code: vusa
                      name: Virtual USD Visa
                      scheme: visa
                      currency: USD
                      maxCardsPerCardholder: 5
                      providerSettings:
                        - { key: three_ds, type: bool, value: true }
                        - { key: apple_pay, type: bool, value: false }
                        - { key: google_pay, type: bool, value: false }
                        - { key: card_ttl_months, type: number, value: 36 }
                    - code: mm-cards
                      name: Virtual USD Mastercard
                      scheme: mastercard
                      currency: USD
                      maxCardsPerCardholder: 5
                      providerSettings:
                        - { key: three_ds, type: bool, value: true }
                        - { key: apple_pay, type: bool, value: true }
                        - { key: google_pay, type: bool, value: true }
                        - { key: card_ttl_months, type: number, value: 36 }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCS, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /products:
    get:
      operationId: listClientProducts
      tags: [Products]
      summary: Продукты тенанта
      description: >-
        Возвращает продукты, сконфигурированные и созданные тенантом (действуют
        только для его карт).
      x-required-scope: cards:read
      parameters:
        - name: provider
          in: query
          required: false
          description: 'Фильтр по ПРОГРАММЕ (код программы core-{id}). Опущен — программа аккаунта по умолчанию. Неизвестный → 422.'
          schema: { type: string, example: core-1 }
      responses:
        '200':
          description: >-
            Возвращаются ВСЕ активные клиент-продукты тенанта (их количество само по
            себе ограничено потолком активных продуктов). Курсорной пагинации нет —
            объект `pagination` не возвращается. ВНИМАНИЕ: элементы списка НЕ содержат
            `providerCode` — он возвращается только в ответе POST /products.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items: { $ref: '#/components/schemas/ClientProduct' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
    post:
      operationId: createClientProduct
      tags: [Products]
      summary: Создать продукт тенанта
      description: >-
        Создаёт продукт по конфигурации тенанта (платёжная схема, тип, набор
        функций и ограничения). Указанные ограничения применяются к картам этого
        продукта принудительно. Заголовок `Idempotency-Key` обязателен. Поле
        `hasJIT` игнорируется (всегда `false`: авторизация с мастер-баланса не
        допускается). Внимание: операция изменяет каталог продуктов в боевой
        среде.


        Тело строгое: любое неизвестное поле → `422 request.validation_failed`
        (имя поля — в `error.fields`). Поле `code` НЕ принимается: код продукта
        генерирует сервер (слаг от `name` + детерминированный суффикс от
        `Idempotency-Key`); он возвращается в ответе и используется далее в
        `POST /cards`.


        Доступность `hasApplePay` / `hasGooglePay` ЗАВИСИТ ОТ СХЕМЫ: включить их
        можно, только если базовый продукт этой схемы в каталоге
        `GET /cards/products` поддерживает соответствующую настройку
        (`providerSettings[].key` = `apple_pay` / `google_pay` со значением
        `true`). На текущей программе они доступны только для `MASTERCARD`, для
        `VISA` — недоступны. Попытка включить недоступную для схемы функцию →
        `422 request.validation_failed` с `message: "Apple Pay is not available
        for VISA"` (аналогично Google Pay). Проверяйте доступность заранее по
        `GET /cards/products`.


        Действует потолок активных продуктов тенанта (100, суммарно по всем
        схемам, не per-scheme): при достижении → `422 request.validation_failed`
        с `message: "active client-product limit reached (100)"`. Слот освобождается
        архивированием (`DELETE /products/{code}`), НО архивировать можно только
        продукт без живых карт (active/frozen/suspended) — иначе архивация будет
        отклонена. Планируйте потолок заранее: продукт с выпущенными картами
        занимает слот до тех пор, пока все его карты не закрыты.


        ВАЖНО про 422: все бизнес-отказы возвращаются с ОДНИМ кодом
        `request.validation_failed`, поэтому ветвление только по `error.code`
        здесь недостаточно. При отклонении конфигурации
        `error.fields` содержит лишь `{"configuration":
        ["request.validation_failed"]}` — это НЕ пофолейная детализация.
        Различайте причину по `error.message`: `"Apple Pay is not available for
        VISA"` — функция недоступна для схемы; `"active client-product limit
        reached (100)"` — потолок продуктов; `"Product configuration was
        rejected"` — конфигурация отклонена
        (повтор с тем же ключом не поможет: измените конфигурацию и возьмите
        НОВЫЙ `Idempotency-Key`). Пофолейные ошибки формата тела (неизвестное
        поле, неверный `providerCode`, нарушенный диапазон) приходят в
        `error.fields` как обычно.
      x-required-scope: cards:write
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKeyRequired' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientProductCreate' }
      responses:
        '201':
          description: Создан
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ClientProductCreated' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /products/{code}:
    delete:
      operationId: archiveClientProduct
      tags: [Products]
      summary: Архивировать клиент-продукт
      description: >-
        Удаляет продукт и деактивирует запись: выпуск новых
        карт по нему становится недоступен. Заголовок `Idempotency-Key` обязателен.


        ⚠️ АРХИВИРОВАТЬ МОЖНО ТОЛЬКО ПРОДУКТ БЕЗ ЖИВЫХ КАРТ. Если по продукту есть
        хотя бы одна карта в состоянии active / frozen / suspended — архивация
        ОТКЛОНЯЕТСЯ. Сначала закройте (`DELETE /cards/{cardId}`) все
        карты продукта, затем архивируйте. Отказ приходит как `422
        request.validation_failed` с generic-сообщением `"Could not archive product"`
        — точное число живых карт наружу НЕ передаётся.


        Если продукт не найден, возвращается `404`; синтаксически некорректный `code`
        также даёт `404` (а не `422`). Прочие бизнес-отказы тоже
        сводятся к `422` с тем же generic-сообщением (детализации в `error.fields` нет).
      x-required-scope: cards:write
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKeyRequired' }
        - { name: code, in: path, required: true, description: 'Код клиент-продукта (из ответа POST /products). Не совпадающий с ^[a-z0-9][a-z0-9_-]{1,63}$ → 404.', schema: { type: string } }
      responses:
        '200':
          description: Архивирован
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [code, archived]
                        properties:
                          code: { type: string, description: 'Код архивированного продукта' }
                          archived: { type: boolean, enum: [true] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}:
    get:
      operationId: getCard
      tags: [Cards]
      summary: Карта
      description: >-
        Поля last4, maskedNumber, expMonth, expYear могут быть null, пока
        status=issuing: они дозаполняются после завершения асинхронного выпуска
        карты. Поле `balance` в ЭТОМ ответе всегда `null` — актуальный баланс
        получайте через `GET /cards/{cardId}/balance` (в списке `GET /cards`
        поле, наоборот, заполняется). Клиент должен игнорировать незнакомые поля
        ответа для обратной совместимости.
      x-required-scope: cards:read
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Карта
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Card'
              example:
                success: true
                status: 200
                message: OK
                data:
                  cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                  cardholderId: 3c1d2e3f-0000-4000-8000-000000000010
                  status: active
                  productCode: null
                  scheme: visa
                  maskedNumber: '···· ···· ···· 4242'
                  last4: '4242'
                  expMonth: 12
                  expYear: 2028
                  currency: USD
                  scale: 2
                  nameOnCard: null
                  planCode: default
                  externalReference: null
                  balance: null
                  issuedAt: '2026-07-01T12:00:04Z'
                  closedAt: null
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCT, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
    delete:
      operationId: closeCard
      tags: [Cards]
      summary: Закрытие карты
      description: >-
        Если баланс карты равен 0, закрытие выполняется синхронно (200). Если
        на карте есть остаток, он сначала выводится на кошелёк отдельным
        unload-ордером (комиссия за вывод с остатка при закрытии не взимается),
        после чего карта закрывается; ответ — 202 Accepted, окончательный
        результат приходит событиями card.closed и card.unloaded, а также
        доступен через GET /orders/{orderId}. Отдельного типа ордера close нет.
        Если карта создана недавно (не истёк период закрытия), возвращается
        422 card.too_new_to_close. Повторный запрос на уже закрытую карту с тем
        же Idempotency-Key возвращает исходный результат (200).
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: false
        description: Тело не требуется. Поле `reason` принимается, но в текущем релизе ИГНОРИРУЕТСЯ — код его не читает.
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 255
                  description: В текущем релизе игнорируется (нигде не сохраняется и не возвращается).
            example: {}
      responses:
        '200':
          description: Закрыта синхронно (баланс был 0)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CardCloseResult'
              example:
                success: true
                status: 200
                message: OK
                data:
                  cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                  status: closed
                  closedAt: '2026-07-01T13:00:00Z'
                  residualMinor: 0
                  currency: USD
                  scale: 2
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCV, timestamp: '2026-07-01T13:00:00Z' }
        '202':
          description: >-
            Остаток выводится unload-ордером, после чего карта закрывается
            (CardCloseAccepted); либо по карте уже выполняется вывод остатка
            (LifecyclePending) — в этом случае повторите запрос DELETE с тем же
            Idempotency-Key.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        oneOf:
                          - $ref: '#/components/schemas/CardCloseAccepted'
                          - $ref: '#/components/schemas/LifecyclePending'
              example:
                success: true
                status: 202
                message: Accepted
                data:
                  cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                  status: closing
                  orderId: 7a2b3c4d-0000-4000-8000-000000000005
                  type: unload
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCW, timestamp: '2026-07-01T13:00:00Z' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/LifecycleCooldown' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/balance:
    get:
      operationId: getCardBalance
      tags: [Cards]
      summary: Живой баланс карты
      description: >-
        availableMinor = totalMinor минус активные авторизационные холды, при этом
        не опускается ниже 0. Признак negative=true означает totalMinor < 0 —
        реальный дефицит средств на карте.
      x-required-scope: cards:read
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        '200':
          description: Баланс
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CardBalance'
              example:
                success: true
                status: 200
                message: OK
                data:
                  cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                  currency: USD
                  scale: 2
                  availableMinor: 800
                  pendingMinor: 1200
                  totalMinor: 2000
                  negative: false
                  syncedAt: '2026-07-01T12:33:00Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCX, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/fund:
    post:
      operationId: fundCard
      tags: [Cards]
      summary: Пополнение карты (асинхронно, 202)
      description: >-
        amountMinor — сумма нетто, зачисляемая на карту. С кошелька списывается
        amountMinor + feeMinor (рассчитать заранее можно через
        GET /tariffs/quote?operation=fund&cardId=…). Суммы указываются в целых
        minor-единицах валюты карты (USD, scale 2). Операция асинхронная: ответ
        202 Accepted с orderId, окончательный результат смотрите в
        GET /orders/{orderId} и в вебхуках. Успешное пополнение снимает статус
        suspended только при включённой возможности suspendedClearedByFund.
        Если операция не удалась после 202, ордер переходит в статус refunded с
        полем failureCode и отправляется событие card.funding_failed; списание
        с кошелька при этом компенсируется автоматически.
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundRequest'
            example: { amountMinor: 10000, currency: USD, externalReference: fund-001 }
      responses:
        '202':
          description: Принято в исполнение
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OrderAccepted'
              example:
                success: true
                status: 202
                message: Accepted
                data: { orderId: 9f3c1a2b-0000-4000-8000-000000000006, type: fund, status: processing }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCY, timestamp: '2026-07-01T12:00:00Z' }
        '200':
          description: >-
            Идемпотентный реплей уже терминального ордера — полный объект ордера
            (status=completed | failed | refunded; при failed/refunded заполнен
            failureCode). Проверяйте data.status — 200 сам по себе не означает успех.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/unload:
    post:
      operationId: unloadCard
      tags: [Cards]
      summary: Вывод средств с карты (асинхронно, 202)
      description: >-
        Комиссия удерживается из выводимой суммы: с карты списывается amountMinor
        (брутто), наша комиссия вычитается из фактически снятого, кошелёк ничего
        не резервирует заранее. На кошелёк зачисляется creditedMinor = фактически
        снятое минус feeMinor. При частичном исполнении комиссия пропорциональна
        фактически снятой сумме и не превышает зачисляемое; округление — в пользу
        клиента. Суммы указываются в целых minor-единицах валюты карты (USD,
        scale 2). Итоговые значения unloadedMinor, feeMinor и creditedMinor
        содержатся в терминальном ордере и в событии card.unloaded. Если операция
        не удалась после 202, ордер переходит в статус failed и отправляется
        событие card.unloading_failed; баланс карты при этом не меняется.
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKeyRequired'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnloadRequest'
            example: { amountMinor: 5000, currency: USD, externalReference: unl-001 }
      responses:
        '202':
          description: Принято в исполнение
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OrderAccepted'
              example:
                success: true
                status: 202
                message: Accepted
                data: { orderId: 7a2b3c4d-0000-4000-8000-000000000005, type: unload, status: processing }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABCZ, timestamp: '2026-07-01T12:00:00Z' }
        '200':
          description: >-
            Идемпотентный реплей уже терминального ордера — полный объект ордера
            (status=completed | failed | refunded; при failed/refunded заполнен
            failureCode). Проверяйте data.status — 200 сам по себе не означает успех.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/freeze:
    post:
      operationId: freezeCard
      tags: [Cards]
      summary: Заморозка карты (синхронно)
      description: >-
        Операция идемпотентна по своей природе: повторная заморозка уже
        замороженной карты — это no-op с ответом 200, поэтому Idempotency-Key
        необязателен. Пока карта заморожена, авторизации отклоняются, а
        пополнение (fund) возвращает 409 card.frozen. При таймауте запрос можно
        безопасно повторить или свериться с GET /cards/{cardId}. Слишком частые
        lifecycle-операции по одной карте возвращают 429 card.lifecycle_cooldown
        с заголовком Retry-After (кулдаун около 10 секунд).
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKeyOptional'
      requestBody:
        required: false
        description: >-
          Тело не требуется. Поле `reason` принимается, но в текущем релизе ИГНОРИРУЕТСЯ — код его не
          читает: в событии card.frozen всегда приходит reason=client_request.
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 255
                  description: В текущем релизе игнорируется (в событии card.frozen всегда reason=client_request).
            example: {}
      responses:
        '200':
          description: Заморожена
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CardLifecycleResult'
              example:
                success: true
                status: 200
                message: OK
                data: { cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5, status: frozen, frozenAt: '2026-07-01T12:40:00Z' }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD0, timestamp: '2026-07-01T12:40:00Z' }
        '202':
          description: >-
            Операция не подтвердилась синхронно (таймаут). Окончательный
            статус придёт событием card.frozen или будет доступен через
            GET /cards/{cardId}.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LifecyclePending'
              example:
                success: true
                status: 202
                message: Accepted
                data: { status: pending, message: 'Freeze accepted; terminal state will arrive via card.frozen webhook or GET /cards/{cardId}' }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD0, timestamp: '2026-07-01T12:40:00Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/LifecycleCooldown' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/unfreeze:
    post:
      operationId: unfreezeCard
      tags: [Cards]
      summary: Разморозка карты (синхронно)
      description: >-
        Симметрична заморозке. Статус suspended этой операцией не снимается
        (возвращается 409 card.invalid_state) — suspended снимается только
        успешным пополнением (возможность suspendedClearedByFund).
      x-required-scope: cards:write
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKeyOptional'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
            example: {}
      responses:
        '200':
          description: Разморожена
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CardLifecycleResult'
              example:
                success: true
                status: 200
                message: OK
                data: { cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5, status: active, unfrozenAt: '2026-07-01T12:45:00Z' }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD1, timestamp: '2026-07-01T12:45:00Z' }
        '202':
          description: >-
            Операция не подтвердилась синхронно (таймаут). Окончательный
            статус придёт событием card.unfrozen или будет доступен через
            GET /cards/{cardId}.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LifecyclePending'
              example:
                success: true
                status: 202
                message: Accepted
                data: { status: pending, message: 'Unfreeze accepted; terminal state will arrive via card.unfrozen webhook or GET /cards/{cardId}' }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD1, timestamp: '2026-07-01T12:45:00Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/LifecycleCooldown' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/reveal-token:
    post:
      operationId: createCardRevealToken
      tags: [Cards]
      summary: Reveal-токен (токенизация) — НЕ РЕАЛИЗОВАНО (всегда 422 not_supported)
      description: >-
        **Метод не реализован.** Endpoint объявлен в контракте, но на ЛЮБОЙ запрос
        возвращает `422 not_supported`: токенизация не поддерживается
        (`features.tokenization=false`, `features.secureReveal=false`). Никакой
        reveal-сессии, TTL и `iframeUrl` не существует — путь даже не резолвится в
        карту, поэтому 404/409 на чужую или неактивную карту НЕ возвращаются.


        Прямой путь получения реквизитов — `POST /cards/{cardId}/secure`
        (режим D2, требует `features.secureApiRaw`).


        Планируемое (пока НЕ реализованное) поведение — одноразовая сессия
        (TTL 90 с) и `iframeUrl` защищённого origin, через который PAN/CVV
        показываются пользователю, минуя ваш бэкенд.
      deprecated: true
      x-required-scope: cards:secure:read
      parameters:
        - $ref: '#/components/parameters/CardId'
      responses:
        # Не реализовано (StubController@notImplemented): единственный доменный исход — 422 not_supported.
        # Прочие коды — от middleware (auth/scope/rate-limit) или инфраструктуры.
        '422': { $ref: '#/components/responses/NotSupported' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /cards/{cardId}/secure:
    post:
      operationId: revealCardSecure
      tags: [Cards]
      summary: Получение PAN/CVV карты в JSON (по договорённости, синхронно)
      description: >-
        Доступно только при включённой возможности secureApiRaw. Включение не
        self-serve: предоставляется по договорённости при действующей PCI-
        аттестации вашей стороны, с IP-allowlist и mTLS, и определяет ваш
        SAQ-уровень (SAQ-D). Доступно только для карт со status=active, иначе
        возвращается 409 card.not_revealable. Реквизиты передаются transient-only:
        не сохраняются и не логируются ни на одном участке; фиксируется только
        факт доступа. Клиент не должен логировать или сохранять ответ.
        Idempotency-Key не используется (операция чтения).


        Запросы к защищённым методам расходуют общую write-корзину аккаунта
        (20 запросов/мин); при превышении — 429 rate_limit.exceeded с
        details.retryAfter. Выделенная secure-корзина (per-card/per-account/
        circuit-breaker) и details.scope=secure — в планах, в текущем релизе НЕ
        применяются.


        ВНИМАНИЕ: ответ НЕ содержит заголовка `Cache-Control: no-store` — не
        полагайтесь на него. Обеспечьте на своей стороне, чтобы ответ не
        кэшировался, не логировался и не сохранялся.
      x-required-scope: cards:secure:read
      parameters:
        - $ref: '#/components/parameters/CardId'
      requestBody:
        required: false
        description: >-
          Тело не требуется и ИГНОРИРУЕТСЯ: фильтрация по `fields` не реализована — всегда
          возвращаются все реквизиты (pan, cvv, expMonth, expYear).
        content:
          application/json:
            schema:
              type: object
            example: {}
      responses:
        '200':
          description: 'Реквизиты карты; пример с реальным PAN намеренно не приводится'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SecureCardData'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/SecureDisabled' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /cards/{cardId}/transactions:
    get:
      operationId: listCardTransactions
      tags: [Cards]
      summary: Транзакции по карте
      description: >-
        Возвращает последние транзакции карты, отсортированные по occurredAt по
        убыванию. Число записей ограничено сервером; постраничного курсора нет.
        Это витрина истории по карте, а не источник денежной истины по кошельку —
        движения баланса кошелька смотрите в GET /account/transactions.


        Комиссии и деклайны связываются с родительской покупкой по коду
        авторизации: у покупки заполнен `authorizationCode`, у порождённых ею
        строк `fee`/`declined` — `relatedAuthorizationCode` с тем же значением.
        Группируйте по совпадению `relatedAuthorizationCode` == `authorizationCode`,
        чтобы показать итог по покупке.
      x-required-scope: transactions:read
      parameters:
        - $ref: '#/components/parameters/CardId'
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        '200':
          description: >-
            Список ограничен сервером и не использует курсорную пагинацию;
            объект `pagination` в ответе не возвращается.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/CardTransaction'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - id: 5d6e7f8a-0000-4000-8000-000000000007
                      type: settlement
                      status: completed
                      amountMinor: 1299
                      feeMinor: 0
                      currency: USD
                      scale: 2
                      merchantName: GROCERY STORE
                      mcc: '5411'
                      mccDescription: Grocery Stores
                      merchantCountry: US
                      declineCode: null
                      feeType: null
                      occurredAt: '2026-07-01T10:11:12Z'
                      authorizationCode: '012345'
                      relatedAuthorizationCode: null
                    - id: 6e7f8a9b-0000-4000-8000-000000000008
                      type: fee
                      status: completed
                      amountMinor: 50
                      feeMinor: 0
                      currency: USD
                      scale: 2
                      merchantName: null
                      mcc: null
                      mccDescription: null
                      merchantCountry: null
                      declineCode: null
                      feeType: cross_border
                      occurredAt: '2026-07-01T10:11:13Z'
                      authorizationCode: null
                      relatedAuthorizationCode: '012345'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD3, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  # ===========================================================================
  # Orders
  # ===========================================================================

  /orders/{orderId}:
    get:
      operationId: getOrder
      tags: [Orders]
      summary: Статус асинхронной операции (поллинг ордера)
      description: >-
        Возвращает текущее состояние ордера асинхронной операции. Пока операция
        выполняется, приходит HTTP 202 (status=processing); по достижении
        терминального состояния — HTTP 200. Терминальное состояние наступает не
        позднее чем через 15 минут: если исход не подтверждён, ордер завершится
        статусом refunded или failed с полем failureCode, а средства
        автоматически вернутся на баланс кошелька.
      x-required-scope: cards:read
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Терминальное состояние ордера
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
              example:
                success: true
                status: 200
                message: OK
                data:
                  orderId: 9f3c1a2b-0000-4000-8000-000000000006
                  type: fund
                  status: completed
                  cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                  cardholderId: 3c1d2e3f-0000-4000-8000-000000000010
                  amountMinor: 10000
                  feeMinor: 250
                  unloadedMinor: null
                  creditedMinor: null
                  currency: USD
                  scale: 2
                  externalReference: fund-001
                  failureCode: null
                  createdAt: '2026-07-01T12:00:00Z'
                  completedAt: '2026-07-01T12:00:04Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD4, timestamp: '2026-07-01T12:34:56Z' }
        '202':
          description: Ордер ещё выполняется (тот же объект, status=processing, completedAt=null)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  # ===========================================================================
  # Webhooks (конфигурация)
  # ===========================================================================

  /webhooks:
    get:
      operationId: getWebhookConfig
      tags: [Webhooks]
      summary: Текущая конфигурация webhook-endpoint
      description: >-
        Настраивается один webhook-endpoint на аккаунт (единое окружение live).
        Если endpoint не сконфигурирован, возвращается 404 с кодом ошибки
        webhook.not_configured.
      x-required-scope: webhooks:read
      responses:
        '200':
          description: Конфигурация
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookConfig'
              example:
                success: true
                status: 200
                message: OK
                data:
                  id: 3f2a1b4c-0000-4000-8000-000000000001
                  url: https://client.example/caas-webhook
                  status: active
                  events: ['card.*', 'cardholder.*']
                  signatureMode: caas_v1
                  secretFingerprint: a1b2c3d4
                  consecutiveFailures: 0
                  lastSuccessAt: '2026-07-01T12:00:00Z'
                  lastFailureAt: null
                  createdAt: '2026-06-01T00:00:00Z'
                  updatedAt: '2026-07-01T00:00:00Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD5, timestamp: '2026-07-01T12:34:56Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }
    put:
      operationId: upsertWebhookConfig
      tags: [Webhooks]
      summary: Создать или обновить webhook-endpoint (upsert)
      description: >-
        Операция идемпотентна по своей природе, заголовок Idempotency-Key
        необязателен. При ПЕРВОМ создании ответ дополнительно содержит
        `data.secret` (формат whsec_ и 64 hex-символа) — он показывается только
        один раз, сохраните его. Обновление реактивирует endpoint
        (status=active, consecutiveFailures=0). Требования к URL: только https на
        порту 443; приватные, loopback, link-local и metadata-адреса,
        IP-литералы, userinfo и фрагменты запрещены; при доставке
        редиректы не выполняются.
      x-required-scope: webhooks:write
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyOptional'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpsertRequest'
            example:
              url: https://client.example/caas-webhook
              events: ['card.*', 'cardholder.*']
              signatureMode: caas_v1
      responses:
        '200':
          description: Конфигурация endpoint (при первом создании дополнительно поле secret)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/WebhookConfig'
                          - type: object
                            properties:
                              secret:
                                type: string
                                description: Возвращается ТОЛЬКО при первом создании; формат whsec_ и 64 hex-символа; показывается один раз
                                pattern: '^whsec_[0-9a-f]{64}$'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /webhooks/{webhookId}:
    delete:
      operationId: deleteWebhookConfig
      tags: [Webhooks]
      summary: Удалить webhook-endpoint
      description: 'Удаляет webhook-endpoint по его идентификатору. Запрос чужого или несуществующего endpoint возвращает 404.'
      x-required-scope: webhooks:write
      parameters:
        - { name: webhookId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Endpoint удалён
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { type: object, properties: { deleted: { type: boolean } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /webhooks/regenerate-secret:
    post:
      operationId: regenerateWebhookSecret
      tags: [Webhooks]
      summary: Ротация webhook-секрета
      description: >-
        Ограничение частоты: не чаще 1 запроса в минуту. Действует окно
        совмещения в 24 часа: новые доставки подписываются уже НОВЫМ секретом.
        Проверяйте подпись новым секретом, а при несовпадении — прежним (до
        момента oldSecretValidUntil).
      x-required-scope: webhooks:write
      responses:
        '200':
          description: Новый секрет
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WebhookSecretRotation'
              example:
                success: true
                status: 200
                message: OK
                data:
                  secret: whsec_3f9c000000000000000000000000000000000000000000000000000000000abc
                  rotatedAt: '2026-07-01T12:00:00Z'
                  oldSecretValidUntil: '2026-07-02T12:00:00Z'
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD6, timestamp: '2026-07-01T12:00:00Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /webhooks/test:
    post:
      operationId: sendTestWebhook
      tags: [Webhooks]
      summary: Тестовая доставка вебхука
      description: >-
        Ограничение частоты: не чаще 5 запросов в минуту. На ваш endpoint
        отправляется полноценно подписанное событие с полем data.test: true. В
        ответе возвращается только булев признак доставки.


        Тест-доставка дополнительно несёт заголовок `X-Caas-Test: 1`, а её
        `eventId` имеет префикс `test-` (не UUID) — гейтите бизнес-обработку по
        любому из этих признаков и не проводите по тест-событиям деньги/статусы.
      x-required-scope: webhooks:write
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  description: >-
                    Тип события из каталога событий; по умолчанию webhook.test. Неизвестный или
                    неопубликованный тип ошибкой НЕ является — молча отправляется webhook.test (fallback).
            example: { event: card.funded }
      responses:
        '200':
          description: Результат доставки
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [delivered]
                        properties:
                          delivered: { type: boolean }
              example:
                success: true
                status: 200
                message: OK
                data: { delivered: true }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD7, timestamp: '2026-07-01T12:00:00Z' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /webhooks/deliveries:
    get:
      operationId: listWebhookDeliveries
      tags: [Webhooks]
      summary: Журнал доставок вебхуков
      description: >-
        Срок хранения записей: успешно доставленные — не менее 30 дней, неудачные
        и окончательно отклонённые — не менее 90 дней. Поле deliveryId совпадает
        с eventId конверта доставки.
      x-required-scope: webhooks:read
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: status
          in: query
          required: false
          description: 'Значение вне перечня не отклоняется — вернётся пустой items.'
          schema:
            $ref: '#/components/schemas/DeliveryStatus'
        - name: event
          in: query
          required: false
          description: 'Фильтр по типу события. Значение вне каталога не отклоняется — вернётся пустой items.'
          schema: { type: string }
        - name: from
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Страница журнала доставок
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [items, pagination]
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/WebhookDelivery'
                          pagination:
                            $ref: '#/components/schemas/Pagination'
              example:
                success: true
                status: 200
                message: OK
                data:
                  items:
                    - deliveryId: c1d2e3f4-0000-4000-8000-000000000009
                      event: card.funded
                      status: delivered
                      attempts: 1
                      lastHttpCode: 200
                      lastError: null
                      nextRetryAt: null
                      deliveredAt: '2026-07-01T12:00:05Z'
                      createdAt: '2026-07-01T12:00:04Z'
                  pagination: { limit: 20, nextCursor: null, hasMore: false }
                meta: { requestId: req_01J9X2K7M3QF8YV4N0P6T1ABD8, timestamp: '2026-07-01T12:34:56Z' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

# =============================================================================
# Исходящие вебхуки (контракт приёма на стороне клиента).
# Доставка гарантирует «не менее одного раза» — выполняйте дедупликацию по
# eventId. Порядок между событиями НЕ гарантирован — стройте state-машину по
# полю occurredAt и статусам.
# Подпись (режим caas_v1). В заголовке X-Caas-Signature приходит строка вида:
#     X-Caas-Signature: t=1719830400,v1=3ba9f1e0c8b7...
# где t — Unix-время отправки (в секундах), v1 — hex-подпись HMAC-SHA256.
# Как собрать и проверить подпись (ровно в этом порядке):
#   1) Возьмите СЫРОЕ тело запроса как есть, до любого парсинга (rawBody, байты).
#   2) Разберите заголовок на t и v1 (пары «ключ=значение» через запятую).
#   3) Выведите ключ подписи из вашего webhook-секрета:
#        signingKey = hex(SHA256(webhookSecret))    // 64-символьная hex-СТРОКА в нижнем регистре, НЕ сырые байты
#   4) Составьте подписываемое сообщение (метка времени, точка, тело):
#        signedPayload = t + "." + rawBody           // напр. "1719830400." + тело
#   5) Посчитайте ожидаемую подпись:
#        expected = hex(HMAC_SHA256(key = signingKey, message = signedPayload))
#   6) Сравните expected с v1 в constant-time (напр. hmac.compare_digest). Не совпало → отклоните.
#   7) Проверьте свежесть метки: |текущее_время − t| ≤ 300 секунд, иначе отклоните (защита от replay).
# Затем выполните дедупликацию по eventId, обработайте событие и ответьте кодом 2xx
# в течение 8 секунд.
# Повторные попытки: сразу, затем +30s, +2m, +10m, +1h, +3h, +6h (7 попыток,
# около 22 часов, с джиттером); коды 408/429/5xx и таймаут вызывают повтор,
# прочие 4xx считаются терминальным отказом (failed).
# Денежные события эмитятся ПОСЛЕ финализации средств, поэтому суммам в них
# можно доверять.
# =============================================================================

webhooks:

  card.created:
    post:
      operationId: onCardCreated
      summary: Карта выпущена и активна (ордер issue завершён)
      description: 'Отправляется после успешного выпуска активной карты (завершения ордера issue). Поля last4/expMonth/expYear/scheme могут быть null при отложенном провижининге — дочитайте актуальные данные через GET /cards/{cardId}.'
      parameters:
        - $ref: '#/components/parameters/WhSignature'
        - $ref: '#/components/parameters/WhEvent'
        - $ref: '#/components/parameters/WhEventId'
        - $ref: '#/components/parameters/WhDelivery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/WebhookEnvelope'
                - type: object
                  properties:
                    event: { const: card.created }
                    data:
                      $ref: '#/components/schemas/EventCardCreated'
            example:
              event: card.created
              version: '1.0'
              eventId: c1d2e3f4-a5b6-4c8d-9e0f-1a2b3c4d5e6f
              data:
                cardId: 8f2d840e-c05d-418f-9845-9a057b1fcab5
                cardholderId: 3c1d2e3f-0000-4000-8000-000000000010
                orderId: 0b1e7c9a-0000-4000-8000-000000000002
[...]
